############# begin Atlas config section ##########
--noNimblePath
--path:"../../nmath/src"
--path:"../../wgpu/src"
--path:"../../nsys/src"
--path:"../../nimp/src"
--path:"../../confy/src"
--path:"../../nstd/src"
--path:"../../libs/vmath/src"
--path:"../../nglfw/src"
--path:"../../ngltf/src"
--path:"../../libs/pixie/src"
--path:"../../libs/chroma/src"
--path:"../../libs/zippy/src"
--path:"../../libs/NimYAML"
--path:"../../libs/db_connector/src"
--path:"../../libs/checksums/src"
--path:"../../libs/jsony/src"
--path:"../../libs/flatty/src"
--path:"../../libs/nimsimd/src"
--path:"../../libs/bumpy/src"
--path:"../../libs/crunchy/src"
############# end Atlas config section   ##########
--path:"../src/" # just to silence nimsuggest
